# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.la
*.lo
*.lai
*.Plo
*.Po

# emacs files
*~
#*#

# Autoconf files
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
config/*
configure
depcomp
install-sh
libtool
ltmain.sh
missing

# Automake files
autom4te.cache/*
Makefile
Makefile.in

# Test binaries and scripts
tests/.libs/test_cunit_sexp_outputter
tests/output.txt
tests/test_cunit_sexp_outputter